<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= yield(:title) %><%= ' | ' if content_for? :title %>Canvas</title>
  <meta name="description" content="Rethink work. Canvas breaks down boundaries between information.">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= javascript_include_tag "application" %>
<%= javascript_include_tag controller.controller_name %>
<% if content_for? :additional_javascript %>
  <%= javascript_include_tag yield(:additional_javascript), "data-turbolinks-track" => true %>
<% end %>
</body>
</html>
